<div class="book-update-form" data-id={{book.id}}>
<p> you are trying to modify: {{book.title}} </p>
<form class='userEvents' id='modify-book-club'>
  <div class="form-group">
    <input type="text" name="book[title]" value={{book.title}}>
    <input type="text" placeholder="Add a status" name="book[status]" value={{book.status}}>
    <input type="text" placeholder="Add a location" name="book[location]" value={{book.location}}>
    <input type="number" min="0" placeholder="Add a guest count" name="book[guestCount]" value={{book.guestCount}}>

    <input type="date" name="book[startDate]" value={{date book.startDate}}>
    <input type="date" name="book[endDate]" value={{date book.endDate}}>

</div>
  <button type="submit" class="btn btn-default">Update Book</button>
  <button type="click" class="btn btn-default cancel-update">Cancel Update</button>
</form>
</div>
