<div class="row modify-the-book-club" data-id={{book.id}}>
    <div class="col-sm-12" >
      <div class="well" data-id={{book.id}}>
        <h2> You are modifiying the record for : <small>{{book.title}}</small> </h2>
        <form class='bookEvents' id='modify-book-club'>
            <div class="form-group">
              <label for="title">Book Club Name</label>
              <input type="text" class="form-control"  value="{{book.title}}" name="book[title]">
            </div>
            <div class="form-group">
              <label for="description">Book Club Description</label>
              <textarea class='form-control' name="book[description]" rows=3 >{{book.description}}</textarea>
            </div>
            <div class="form-group">
              <label for="location">Book Club Location</label>
              <textarea class='form-control' name="book[location]" rows=3 >{{book.location}}</textarea>
            </div>
            <div class="form-group">
              <label for="guestCount">Expected Guest Count</label>
              <input type="number" class="form-control" value={{book.guestCount}} min="0" name="book[guestCount]">
            </div>
            <div class="form-group">
              <label for="start Date">Start Date</label>
              <input type="date" class="form-control" value={{date book.startDate}} name="book[startDate]">
            </div>
            <div class="form-group">
              <label for="end date">End Date</label>
              <input type="date" class="form-control" value={{date book.endDate}} name="book[endDate]">
            </div>
          <button type="submit" class="btn btn-primary">Modify Book Club</button>
        </form>

        </div>
      </div>
    </div>
