<div class="book-tables">
<h1> Book Clubs Listed Below </h1>
<table id='display-books' width="1000" border="1">
  <tr class="table-header">
    <td>Title</td>
    <td>Status</td>
    <td>Guest Count</td>
    <td>Location</td>
    <td>Start On</td>
    <td>End On</td>
    <td>Modify</td>
    <td>Delete</td>
  </tr>

{{#each books as |book|}}
<tr data-id={{book.id}}>
  <td id='title-{{book.id}}' class='title'>{{book.title}}</td>
  <td id='status-{{book.id}}'>{{book.status}}</td>
  <td id='guestCount-{{book.id}}'>{{book.guestCount}}</td>
  <td id='location-{{book.id}}'>{{book.location}}</td>
  <td id='start-date-{{book.id}}'>{{date book.startDate}}</td>
  <td id='end-date-{{book.id}}'>{{date book.endDate}}</td>
  <td><button type="button" id='modify-{{book.id}}' class='modify-button'>
    Modify
  </button></td>
  <td><button type="button" id='delete-{{book.id}}' class='delete-button'>
    Delete
  </button></td>
</tr>
{{/each}}

</table>
</div>
