<div id="all-book-clubs">
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class='book-managment-header'>
      <h2>Wat-R-U-Reading: Your book clubs!</h2>
      <p> Features to search your book clubs coming soon! </p>
      <p> The list will be sorted to the most recently updated bookclub </p>

    </div>

    <div class="col-sm-12 book-club-list">
        {{#if books}}
          <h4> List of book clubs </h4>
          {{#each books as |book|}}
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title"> {{book.title}} </h2>
            </div>
            <div class="panel-body" data-id={{book.id}}>
              <p class="lead">{{book.description}} </p>
              <p>
              <strong># of Guests:</strong> {{book.guestCount}} <br/>
              <strong>Location:</strong> {{book.location}} <br/>
              <strong>Starts On:</strong> {{date book.startDate}} <br/>
              <strong>Ends On:</strong> {{date book.endDate}} <br/>
              <strong>Last Updated:</strong> {{date book.updatedAt}} <br/>
            </p>
              <button type="button" id='modify-{{book.id}}' class='modify-button btn btn-primary'>
                Modify
              </button>
              <button type="button" id='delete-{{book.id}}' class='delete-button btn btn-danger'>
                Delete
              </button>
            </div>

          </div>
            <hr>
          {{/each}}
        {{else}}
          <h4 class='warning'> Looks Like you are new, create a book club to get started!
        {{/if}}

    </div>
</div>
</div>
